.image-list,.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-list{
    margin-top: 50px;
}
.home-image{
    width: 50%;
    margin: 0px 20px;
}
.image-change{
    font-size: 100px;
}