header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: url(../../../public/image/backGround/haikei1.jpg);
    background-size: cover; */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    height: 100px;
}
.menu-box{
    display: flex;
    align-items: center;
}
/* 検索欄 */
.search-box{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: orange;
}
.search-input{
    font-size: 20px;
    width: 300px;
    padding: 5px;
    border: none;
    border-right: 1px solid black;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* アイテム絞り込み */
.top-genre{
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    margin: 0px 10px;
    background-color: rgba(180, 176, 176, 0.19);
}
/* アイテム情報 */
.select-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 10px;
}
.select-item{
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}
/* ユーザー情報 */
.login-box{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-right: 30px; 
}
.login-info-area{
    position: relative;
    width: 100%;
}
.login-info-box{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}
.top-name{
    cursor: pointer;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 5px 0px;
}
.top-name:hover{
    color: blue;
}
