/**履歴一覧全体の装飾 */
.history-area,.history-list{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}
.history-list{
    width: 80%;
}
.history-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid rgba(77, 74, 74, 0.19);
    border-radius: 10px;
    margin-bottom: 20px;
}
/**各履歴詳細の上側の装飾 */
.history-top{
    border-bottom: 1px solid rgba(77, 74, 74, 0.19);
    background-color: rgba(180, 176, 176, 0.19);
    padding: 20px;
}
.top-left{
    display: flex;
    float: left;
}
/**各履歴詳細の下側の装飾 */
.history-bottom{
    padding: 10px;
}
.bottom-left{
    display: flex;
    float: left;
}
.bottom-right{
    float: right;
    margin: 10px;
}
.history-image-box{
    margin-left: 20px;
    position: relative;
}
.history-image{
    width: 180px;
    height: 100px;
}
.history-count{
    position: absolute;
    bottom: 0px;
    right: -20px;
    background-color: white;
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: 50px;
}
.history-name{
    font-size: 20px;
    margin-left: 20px;
}
/**レビューボタン */
.review-btn{
    padding: 5px 30px;
    font-size: 15px;
    background-color: white;
    border: 1px solid rgba(77, 74, 74, 0.19);
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}
.review-btn:hover{
    background-color: rgba(234, 224, 224, 0.2)
}