.favorite-main{
    display: flex;
    margin-top: 30px;
}
/* ジャンル一覧 */
.favorite-genre-list{
    width: 20%;
    padding: 0px 20px;
}
.favorite-genre-box{
    border: 1px solid rgba(77, 74, 74, 0.19);
    padding: 20px;
}
.favorite-genre-btn-box{
    border-top: 1px solid rgba(77, 74, 74, 0.19);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.favorite-genre-btn,.favorite-genre-reset-btn{
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.favorite-genre-btn{
    background-color: blue;
    color: white;
    border: none;
}
.favorite-genre-btn:hover{
    opacity: 0.7;
}
.favorite-genre-reset-btn{
    background-color: white;
    border: none;
}
.favorite-genre-reset-btn:hover{
    background-color: rgba(77, 74, 74, 0.19);
}
/* お気に入り一覧 */
.favorite-area{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.favorite-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.favorite-total-count{
    background-color: rgba(150, 147, 147, 0.19);
    width: 95%;
    padding: 10px;
}
.favorite-box{
    width: 25%;
    margin-top: 10px;
}
.favorite-iamge-box{
    display: flex;
    justify-content: center;
}
.favorite-image{
    width: 90%;
}
.favorite-info-box{
    margin-left: 20px;
}