.review-area{
    display: flex;
}
.review-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
/* レビュー平均の☆の表示 */
.before-star{
    /* color: rgba(237, 237, 10, 0.889); */
    color: orange;
}
.after-star{
    color: lightgray;
}
.last-star{
    display: inline-block;
    position: relative;
    color: lightgray;
}
.last-star::before {
    content: '★';
    position: absolute;
    left: 0;
    top: 0;
    width: var(--star-width);
    overflow: hidden;
    /* color: rgba(237, 237, 10, 0.889); */
    color: orange;
}
/* レビュー数一覧 */
.star-box{
    display: flex;
    align-items: center;
    width: 400px;
}
.item-star-box{
    display: flex;
    align-items: center;
}
.item-star-average{
    margin-left: 5px;
}
.stars {
    white-space: nowrap;
    flex-grow: 1;    
}
.star-border{
    border: 1px solid black;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    margin-right: 10px;
    /* background-image: linear-gradient(to right, rgb(220, 28, 28) 50%, transparent 50%); */
}
/* レビュー投稿ボタン */
.review-input-btn{
    padding: 10px;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
.review-input-btn:hover, .review-good:hover{
    border: 1px solid red
}
/* レビューの中身の表示 */
.review-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 70%;
}
.review-star{
    /* color: rgba(237, 237, 10, 0.889); */
    color: orange;
    font-size: 20px;
}
.review-good{
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}
.review-good-check{
    border: 1px solid red;
    padding: 5px;
    width: 100px;
}